<div>
{%- if include.collection -%}
  {%- assign posts = include.collection -%}  
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}


{%- capture datemapid -%}
{% increment datemapid %}
{%- endcapture -%}
{% assign mapEleId = "heatmap-" | append: datemapid %}
<div class="heatmap-title">{{ include.title | default :""  }}</div>

<div class='heatmap' id="{{mapEleId}}">
  
</div>
{%- if datemapid == '0' -%}
{% comment %}
  只加载一次
{% endcomment %}
<script >
  function create_heatmap(heatmapid,endYear){

    {%- assign MothStr = site.theme_config.heatMapMonth  -%}
    {%- assign HeatMapShowWeek = site.theme_config.heatMapShowWeek  -%}

    {%- assign HeatMapType = site.theme_config.heatMapType  -%}

    {%- assign heatMapLoadCount = site.theme_config.heatMapLoadCount | default: 8  -%}
    

    const heatMapLoadCount = {{heatMapLoadCount}}
    var _HeatMapType = "{{ HeatMapType | default:'1' }}"
    var _MonthStr =  '{{ MothnStr | default: "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec" }}'
    var _showWeek =  '{{ HeatMapShowWeek | default: "Mon Wed Fri" }}';
    var _allyearurl =  '{{ "assets/dyn/allyear.json" | relative_url }}';
    {% include heatmap.js  %}
  }
</script>

{% else %}
{{datemapid}}

{%- endif -%}

<script> 
!function(){
  var endYear = "{{ include.endYear }}"
  var mapid = "{{ mapEleId }}"
  create_heatmap(mapid,endYear )
}()
</script>

</div>