<div class="sidebar">
<div class="sidecontent">
{%- capture currentUrl -%}{{ page.url | relative_url}}{%- endcapture %}
<div class="avatar-title">
  <a href="{{ '/' | relative_url }}"  ><img src="{{'assets/image/avatar.png' | relative_url }}"  class="avatar"/> </a>

  <a href="{{ '/' | relative_url }}" class="nav-title"  > {{site.title}} </a>
</div>



<nav>
  <ul class="navul">
    {%-for item in site.theme_config.menu %}

      {%- if item.url -%}
        {%- capture itemurl -%}{{ item.url | relative_url}}{%- endcapture -%}
        
      {%- assign iscurrent= false %}
      {%- if currentUrl == itemurl -%}
            {%- assign iscurrent= true %}
      {%- else -%}
            {%- for subpath in item.subpath %}
               {%- if currentUrl contains subpath %}
                  {%- assign iscurrent= true %}
                  {%- break %}
              {%- endif  %}
            {%- endfor %}
      {%- endif %}
      <li class="{% if iscurrent  == true -%}navli curNav{%-else -%}navli{%- endif -%}">

      <a href="{{ itemurl }}" class="nav">{{ item.title }}</a>
        
      {%- else -%}
        {{ item.title }}
      {%- endif -%}
      </li>
    {%-endfor-%}
  </ul>
</nav>


</div>
</div>