<h1> <a href="{{ '/' | relative_url }}"> {{ site.title }} </a></h1>
{%- capture currentUrl -%}{{ page.url | relative_url}}{%- endcapture -%}
<nav>
    <ul class="navul">
      

      {%-for item in site.theme_config.menu -%}
        <li class="navli">

      
        {%- if item.url -%}
          {%- capture itemurl -%}{{ item.url | relative_url}}{%- endcapture -%}
        

          {%- if currentUrl == itemurl -%}
              <text class="curNav">{{ item.title }}</text>
          {%- else -%}
              <a href="{{ itemurl }}">{{ item.title }}</a>
          {%- endif - -%}
          
        {%- else -%}
          {{ item.title }}
        {%- endif -%}
        </li>
      {%-endfor-%}
    </ul>
</nav>
