{%- if include.collection -%}
  {%- assign posts = include.collection -%}  
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}

{%- if include.limit and posts.size > include.limit -%}
  {%- assign limit_exceeded = true -%}
{%- else -%}
  {%- assign limit_exceeded = false -%}
{%- endif -%}
{%- if posts.size > 0 -%}
   {%- assign lock_path = site.theme_config.lock_path  -%}
   {%- assign lock_char = site.theme_config.lock_char | default: "🔑"  -%}
  <ul class="postlistul">
    {%- for post in posts limit: include.limit -%}
        <li class="postlistli">
          <date>{{- post.date | date: site.theme_config.date_format -}}</date>
              {%- assign encid = "" | get_encrypt_id:post | default: "" -%}
              {%- if encid.size > 1  -%}
              <div >
                <a href="{{ post.url | relative_url }} ">{{ post.title  }}</a>  
                {%- if lock_path.size > 1  -%}
                <img  style="width:12px;height:12px;display: inline;margin-left: 2px;" src="{{ lock_path | relative_url}}">
                {%- else -%}
                  <text class="iconchar"> {{ lock_char }} </text>
                {%- endif -%}
              </div>
              {%- else -%}
                <a href="{{ post.url | relative_url }}">{{ post.title  }}</a>
              {%- endif -%}
          
        </li> 
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li class="postlistli">
        <a href="{{ include.show_more_url | relative_url }}">{{ include.show_more_text | default: "Show more..." }}</a>
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}