$color-red: #FF0000;
$color-black: #333;
$color-blue: #0064c1;
$color-hove: #0064c1;
$color-gray: #9ca3af;
$color-lightGray: #9ca3af;




li {
  padding: 0.2rem;
}

body{
  font-family: monospace;
  font-size: 1.1rem;
}

article{
  line-height: 1.6;
}
.w {
  margin: auto;
  max-width: 750px;
  padding: 0 .5rem 5rem .5rem;
  word-wrap: break-word;
}

code.highlighter-rouge {
  color: $color-black;
  background: #F0f2f4;
  border-radius: 3px;
  padding: 0 5px;
  margin: 5px;
}

code {
  color: $color-black;
  background: #F0f2f4;
  max-height: 35rem;
}

div.highlighter-rouge code {
  border-radius: 4px;
  display: block;
  overflow: auto;
  padding: 1rem;
}

img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

blockquote {
  font-style: italic;
  border-left: .2rem solid #dfe2e5;
  color: #999;
  padding: 0.25rem 0 .25rem 0.5rem;
  margin: 1rem;
}

blockquote p {
  margin: 0
}

table {
  width: 100%;
}
table{
  box-shadow: 0px 0px 5px #e0e0e0;
}
th{
  background-color: #f5f5f5;
}
table,
th,
td {
  border: thin solid #e0e0e0;
  border-collapse: collapse;
  padding: 0.4em 1em ;
}
tr:nth-child(even){
  background-color: #f5f5f5;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  

  border: 0;
  padding: 3px;

  background: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 5px);
}





a {
  text-decoration: none;
  color: $color-blue;
}

.w > h1>a {
  color: $color-black;
}

.w > h1>a:hover {
  color: $color-black;
}

.navul {
  padding: 0;
  display: flex;
  font-weight: 700;
  align-items: center;
}

.navli {
  list-style-type: none;
  margin-right: 1rem;
  font-size: 1.125rem;
}
.navli a{
  color: $color-black;
}
.curNav {
  color: $color-blue;
  font-size: 1.2em;
 
}

.postlistul {
  padding: 0
}

.postlistli {
  list-style-type: none;
  display: flex;
  // justify-content: space-between;
  align-items: first baseline;
  padding: 10px 0;

}

.postlistli  a,.pagebar a {
  color: #000;
}

 
span.next{
  color: #c3c3c3;
}
 



date  {
  color: $color-lightGray;
  font-size: 0.9em;
  margin-right: 1em;
}
 
time {
  color: $color-lightGray;
  font-weight: 500;
}
.tag {
  color: $color-lightGray;
  font-weight: 500;
}



.pagebar {
  margin-top: 2rem;
  display: flex;
  float: right;
  align-items: baseline;
}

.page_number {
  color: $color-black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.largeli {
  font-weight: bolder;
  color: $color-black;
  font-size: 1.6rem;
  padding: 2.25rem 1rem 0.5rem 0;
}

.largeli0 {
  padding: 0 0 0.5rem 0;
}

.footer{
  margin-top: 4rem;
  color: #aaa;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

.footer a {
  color: #808080;
}

a:hover {
  text-decoration: underline;
  color:$color-hove;
}
