@import "common";
@import "heatmap";

$mobileWidth:500px;

.nav-title{
  color: $color-black;
  font:1.1rem;
  font-weight: 600;
  line-break: anywhere;
}
 
.nav-title:hover{
  color:$color-hove;
}

// pc
@media only screen and (min-width: #{$mobileWidth}) {



.avatar-title{
  align-items: center;
  padding: 1rem 0 1rem 0;
}

  $contentWidth: 52rem;
  $siderbarW: 8rem;
  body {
    font-size: 1.25rem;
  }

  body {
    padding: 0;
  }

  .w {
    margin: auto;
    max-width: $contentWidth;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    word-wrap: break-word;
    background-color: white;
  }

  .sidebar {
    height: 100%;
    padding-right: 1rem;
    position: fixed;
    top: 0;
    width: $siderbarW;
    right: calc(50% + #{$contentWidth} / 2);
  }

  .sidecontent {
    // position: absolute;
    left: 2rem;
    bottom: 2rem;
  }

  .sidetitle {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .navul {
    padding: 0;
    display: block;
    font-weight: 700;
    align-items: center;
  }

  .navli {
    padding: 1rem 0;
  }

  nav {
    text-align: end;
    padding-right: 2rem;
  }

  .rightsidecontent {
    margin: auto;
    max-width: $contentWidth + $siderbarW;

    padding-left: $siderbarW;
    // justify-content: center;
  }
}

// mobile
@media only screen and (max-width: #{$mobileWidth}) {
  $contentWidth: 52rem;
  body {
    font-size: 1.25rem;
    padding: 0;
  }


.avatar-title{
  display: flex;
  align-items: center;
}
  

  .w {
    margin: auto;
    max-width: $contentWidth;
    padding:0 0.5rem;
    word-wrap: break-word;
    background-color: white;
  }

  .sidebar {
    margin: auto;
    max-width: $contentWidth;
    padding: 0.2rem 0.5rem;
    
 
  }

  .sidecontent {
    left: 2rem;
    bottom: 2rem;
  }

  .sidetitle {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .navul {
    padding: 0;
    font-weight: 700;
    align-items: center;
  }

  .navli {
    padding: 1rem 0;
  }

  nav {
    text-align: end;
    padding-right: 2rem;
  }

  .rightsidecontent {
    margin: auto;
    max-width: $contentWidth 
 
  }
}



