@import "common";
@import "heatmap";
.w {
  margin: auto;
  max-width: 960px;
  padding: 2em 0.2rem;
  word-wrap: break-word;
  background-color: white;
}

nav{
   
  /* 这个只是固定在页面上面 */
  position: relative;
  top: 0px;
  height: 100%;
  width: 18rem;
  align-content: center;
 }




  .w {
    margin: auto;
    max-width: 960px;
    padding: 2em 0.2rem;
    word-wrap: break-word;
    background-color: white;
    // box-shadow: 0 2px 3px 0 #eee
  }