li {
  padding: 0.2rem;
}

article{
  line-height: 1.4;
}
.w {
  margin: auto;
  max-width: 740px;
  padding: .5rem .5rem 5rem .5rem;
  word-wrap: break-word;
}

code.highlighter-rouge {
  color: #fff;
  background: #000;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
}

code {
  color: #333;
  background: #F0f2f4;
  max-height: 35rem;
}

div.highlighter-rouge code {
  border-radius: 4px;
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

blockquote {
  font-style: italic;
  border-left: .2rem solid #dfe2e5;
  color: #999;
  padding: 0.25rem 0 .25rem 0.5rem;
  margin: 1rem;
}

blockquote p {
  margin: 0
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid #e0e0e0;
  border-collapse: collapse;
  padding: 0.4rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-color: #e0e0e0;
  border-style: dashed;
}



a:hover {
  text-decoration: underline;
  color: #f00000;
}

a {
  text-decoration: none;
  color: #0064c1;
}

.w > h1>a {
  color: #333;
}

.w > h1>a:hover {
  color: #333;
}

.navul {
  padding: 0;
  display: flex;
}

.navli {
  list-style-type: none;
  margin-right: 1rem;
  font-size: 1.125rem;
}

.postlistul {
  padding: 0
}

.postlistli {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.curNav {
  color: #333;
  font-weight: 700;
}

date {
  color: #333;
}

.pagebar {
  margin-top: 2rem;
  display: flex;
  float: right;
  align-items: baseline;
}

.page_number {
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.largeli {
  font-weight: bolder;
  color: #333;
  font-size: 1.6rem;
  padding: 2.25rem 1rem 0.5rem 0;
}

.largeli0 {
  padding: 0 0 0.5rem 0;
}

.footer{
  margin-top: 4rem;
  color: #aaa;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

.footer a {
  color: #808080;
}